.bt{
    color: #ffffff;
    background-color: #af0808;
    margin-left: 20px;
    height: 35px;
    /* border-color: #af0808; */
    border-radius: 10px;
}
.bt:hover{
    color: #af0808;
    background-color: #ffffff;
}
.inp{
    height: 30px;
    border-radius: 10px;
}