#homeLoading{
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
#loadingBarGifHome{
    height: 10vh;
    width: 10vh;
}
.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: 100% 100%;
    min-height: 100vh;
    /* background: linear-gradient(#af0808, #380a63) */
    background: linear-gradient( rgb(160, 11, 11), rgb(92, 8, 109), rgb(5, 5, 150));
}
#paginadoHome{
    margin: 3vh 0 0 0;
    width: 90vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnPaginadoHome{
    margin: 2px;
    height: 3vh;
    width: 3vh;
    border: 0;
    border-radius: 1vh;
    background-color: #ffffff36;
}
.btnPaginadoHome:hover{
    background-color: #ffffff9a;
}
.btnNextPaginadoHome{
    font-size: 3vh;
    margin: 0 1vh 0 1vh;
    height: 5vh;
    width: 5vh;
    border: 0;
    border-radius: 1vh;
    background-color: #ffffff36;
}
.btnNextPaginadoHome:hover{
    background-color: #ffffff9a;
}
.pokeHome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
}