.Home{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    background: #e7b717;
    /* background: linear-gradient(#bd0707, #380a63); */
    /* background: linear-gradient(#e7a619, #c01a1a); */
}