.LandingPage {
    background-image: url("../../img/pokeimgen4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokeball{
    height: 250px;
    width: 250px;
    border: 11px solid #383b4f;
    border-radius: 50%;
    background-image: linear-gradient(
        #f51939 125px,
        white 125px
    );
    position: relative;
}
.pokeball:hover{
    animation: load 2.5s infinite;
}
@keyframes load{
    50%{
        transform: scale(0.9);
    }
    /* from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    } */
}
.pokeball:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 240px;
    background-color: #383b4f;
    top: 110px;
    right: -5px;
}
.pokeball:after{
    position: absolute;
    content: "";
    height: 75px;
    width: 75px;
    background-image: radial-gradient(
        #ffffff 0px, #ffffff 9px,
        #383b4f 10px, #383b4f 15px,
        #ffffff 16px, #ffffff 27px,
        #383b4f 28px
    );
    border-radius: 50%;
    top: 80px;
    left: 80px;
}

.txt{
    position: relative;
    margin: 50px;
    font-size: 75px;
    color: #383b4f;
    font-family: 'Courier New', Courier, monospace;
}