.Nav{
    background: rgba(22, 22, 22, 0.911);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 9vh;
}
#navImgDiv{
    height: 4vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navImg{
    height: 6vh;
}
.navBtnCreate{
    font-size: 1.5vh;
    height: 4vh;
    width: 15vh;
    margin: 0 5vh 0 5vh;
    border-radius: 7px;
    /* background-color: #af0808; */
    background-color: rgb(161, 11, 11);
    color: white;
}
.navBtnCreate:hover{
    background-color: white;
    /* color: #af0808; */
    color: rgb(161, 11, 11);
}
.sb{
    position: absolute;
    top: 2.5vh;
    right: 5vh;
    width: auto
}